body{padding-top:40px;}

#system-message{margin-bottom:0px;}
.asore-grid tfoot td{border:none;}

hr.custom{margin-bottom:0px;padding-bottom:0px;}
.custom-breadcrumb{margin-bottom:0px;}
.nav-custom{padding-top:20px;}
div.permissions div input {display: inline-block;}

#top-nav{background:#f5f5f5;}
#filters{margin-top:0px;}
#filters > div {background:#eee;height:150px;}
.container form input{display:block;}