<?php
echo $this->Element('record_toolbar',array('viewAlias'=>'Profile'));
?>
<div class="row">
    <div class="span1">
        <a href="#">
        <?php
        echo $this->Html->image('cake.icon.png',array('width'=>120,'class'=>'img-polaroid'));
        ?>
        </a>
    </div>
    <div class="span8">
    <?php
    echo $this->UserEntity->getName();
    ?>
    </div>
</div>
<br />
<div class="row">
    <div class="span9">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Permisos</a>
            </li>
        </ul>
    </div>
</div>
